*{
	box-sizing:border-box; 
}

body{
	font-family: 'roboto', sans-serif;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}
form {
	width: 380px;
	margin:  auto;
	padding: 1em 2em 2em 2em;
	background: #fafafa;
	border-radius: 3px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);;
}
.champ{ 
	position: relative; 
	margin-bottom: 55px; 
}
input{
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}
input:focus{
	outline: none;
	}
label{
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}

.Bouton {
position: relative;
  border: none;
  background: #4a89dc;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 60px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}
.Bouton:hover { 
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
#valide{
	display: none;
	margin:30em auto;
}
#div1{
	display: none;
	width: 380px;
	margin: 4em auto;
	margin-top: 6em;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
hr {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 2px;
		border: none;
		background: #4a89dc;
		font-size: 1px;
		will-change: transform, visibility;
		transition: all 200ms ease-out;
		transform: scaleX(0);
		visibility: hidden;
		z-index: 10;
	}
	input:focus ~ hr {
		transform: scaleX(1);
		visibility: visible;
	}
#head{
	width:23.8em;
	margin-bottom: 0em;
	position: relative;
	right:2em;
	bottom:2.3em;
	height:7em;
	padding: 0em 2em 3em 2.5em;
	border-radius: 3px 3px 0 0;
  	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  	background: #4a89dc;
  	line-height: 150%;
  	color: white;

}


